#bodyCarga {
  width: 100vw; /* vw es relativo al ancho de la ventana del navegador */
  height: 100vh; /* vh es relativo a la altura de la ventana del navegador */
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divCarga {
  background : url("../../../public/Logo_Grapes-removebg-preview.png");
  background-size: contain; /* Cambiado a 'contain' para asegurar que la imagen de fondo se ajuste al div sin cortarse */
  background-repeat: no-repeat; /* Añadido para evitar que la imagen de fondo se repita */
  background-position: center; /* Añadido para asegurar que la imagen de fondo siempre esté centrada */
  width: 20vw; /* vw es relativo al ancho de la ventana del navegador */
  height: 30vh; /* vh es relativo a la altura de la ventana del navegador */
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(1turn); }
}