@font-face {
    font-family: 'MyFuente';
    src: url("../../../public/Blockhead\ DarkSide\ Regular.otf");
  }

.link {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center ;
}


.subjects_h2{
    font-family: 'MyFuente', sans-serif;
    font-size: 6rem;
    font-weight: lighter;
    font-style: oblique;
}

@media only screen and (max-width: 768px) {
    .subjects_h2 {
      font-size: 4rem; /* Ajusta el tamaño de la fuente para dispositivos más pequeños */
    }
  
    .link {
      display: grid; /* Alinea los elementos a la izquierda en dispositivos más pequeños */
      grid-template-columns: repeat(2, 1fr);
      gap: 1px; /* Agregar un espacio de 1px entre las columnas */
      justify-content: flex-start;
    }

    .li_subject{
        padding: 0;
    }

  }
