@font-face {
    font-family: 'MyFuente';
    src: url("../../../public/Blockhead\ DarkSide\ Regular.otf");
  }

.link {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}


.subjects_h2{
    font-family: 'MyFuente', sans-serif;
    font-size: 6rem;
    font-weight: lighter;
    font-style: oblique;
}
