.List-Course {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5%;
}

.title-container{

    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    gap: 10px;
}

.Course-title{
margin-left: 10%;
}