/* RequestForm.css */
.pricipalNewRequest{
  height: 100vh;
  background: linear-gradient(135deg, #40276C,#7868e6);
  padding: 4%;  
}
.formularioUvas {
  max-width: 70%;
  margin: auto; /* Centrar en la mitad de la pantalla */
  padding: 20px;
  border: 2px solid #613659;
  border-radius: 10px;
  background-color: #fff;
  transition: border-color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formularioUvas:hover {
  border-color: #4d2e61;
}

.tituloFormulario {
  text-align: center;
  color: #613659;
  margin-bottom: 20px;
}

.campo-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.campoTexto,
.campo select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #613659;
  border-radius: 5px;
}

.campoTexto:hover,
.campo select:hover {
  border-color: #4d2e61;
}

.botonSubmit {
  background-color: #693e8f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.botonSubmit:hover {
  background-color: #4d2e61;
}

.flash-success {
  background-color: #4CAF50;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 0.5s ease-out, fadeOut 0.5s 2.5s ease-out;
  transition: background-color 0.3s ease;
}

/* ... Otros estilos ... */

/* Imagen decorativa arriba de los inputs de tipo file */
.campoImagen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campoImagen img {
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .campo-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .campo {
    width: 48%;
  }
}

