/* Añade estos estilos en tu hoja de estilos CSS */

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 38px;
  background-color: #8f509d; /* Color inspirado en el de las uvas */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.form:hover {
  transform: scale(1.02);
}

.form-label {
  display: block;
  margin-bottom: 15px;
}

.form-label span {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
}

.input {
  padding: 8px;
  margin-bottom: 15px;
  width: 90%;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  border-color: #693c72; /* Color inspirado en el de las uvas */
}

.submit {
  cursor: pointer;
  width: 95%;
  padding: 10px;
  background-color: #693c72; /* Color inspirado en el de las uvas */
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.submit:hover {
  background-color: #542b5e; /* Cambio de color en hover */
}

.text {
  position: relative;
  z-index: 1;
}

.namespace{
  width: 95%;
  gap: 1%;
  display: flex;
  justify-content: space-between;
  
}

.logoApp{
  max-width: 15%;
  width: 20%;

}

.contenedorLogo{
  display: flex;
  justify-content: center;
  max-width: 95%;
}