.signBody {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #40276C,#7868e6);
}

.form-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.form-signup {
  max-width: 400px;
  margin: 0;
  padding: 20px;
  background-color: #fff; /* Fondo blanco */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.form-signup:hover {
  transform: scale(1.05);
}

.input-signup {
  padding: 12px; /* Aumentado el padding para un aspecto más cómodo */
  margin-bottom: 20px; /* Aumentado el margen inferior */
  width: 100%;
  border: 1px solid #b7b7b7; /* Color del borde más suave */
  border-radius: 8px; /* Bordes más redondeados */
  transition: border-color 0.3s ease-in-out;
}

.input-signup:focus {
  border-color: #7868e6; /* Color del borde al enfocar */
}

.submit {
  cursor: pointer;
  width: 100%;
  padding: 12px;
  background-color: #7868e6; /* Morado más claro */
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.submit:hover {
  background-color: #5c4bc0; /* Cambio de color en hover */
}

.text {
  position: relative;
  z-index: 1;
}

.namespace {
  width: 100%;
  gap: 2%;
  display: flex;
  justify-content: space-between;
}

.logoApp {
  max-width: 15%;
  width: 20%;
}

.signup-link {
  color: #7868e6; /* Morado para los enlaces */
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #25ca09;; /* Morado para los enlaces */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.signup-link a:hover {
  color: #5c4bc0; /* Cambio de color en hover */
}

.flash-signup {
  background-color: #ff7675; /* Rojo claro */
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 0.5s ease-out, fadeOut 0.5s 2.5s ease-out;
  transition: background-color 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.flash-signup:hover {
  background-color: #cc6b6b; /* Cambio de color en hover */
  cursor: pointer;
}

.flash-signup::after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px; /* Bordes más redondeados */
  pointer-events: none;
}

