/* Añade estos estilos en tu hoja de estilos CSS */

.signBody{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Esto asegura que el contenedor esté centrado verticalmente en la ventana. */
    margin: 0;
    background-color: #4f4f4f;
    
}


.form-signup {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 38px;
  background-color: #8f509d; /* Color inspirado en el de las uvas */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.form-signup:hover {
  transform: scale(1.02);
}



.input-signup {
  padding: 8px;
  margin-bottom: 15px;
  width: 90%;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.input-signup:focus {
  border-color: #693c72; /* Color inspirado en el de las uvas */
}

.submit {
  cursor: pointer;
  width: 95%;
  padding: 10px;
  background-color: #693c72; /* Color inspirado en el de las uvas */
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.submit:hover {
  background-color: #542b5e; /* Cambio de color en hover */
}

.text {
  position: relative;
  z-index: 1;
}

.namespace{
  width: 95%;
  gap: 1%;
  display: flex;
  justify-content: space-between;
  
}

.logoApp{
  max-width: 15%;
  width: 20%;
}

.signup-link a {
  color: rgb(201, 39, 39); /* Color inspirado en el de las uvas */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.signup-link a:hover {
  color: #542b5e; /* Cambio de color en hover */
}

.flash-success {
  background-color: #4CAF50; /* Green */
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 0.5s ease-out, fadeOut 0.5s 2.5s ease-out;
  transition: background-color 0.3s ease;
}

/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Hover effect for more interactivity */
.flash-success:hover {
  background-color: #45a049; /* Darker green on hover */
  cursor: pointer;
}

/* Add a subtle border */
.flash-success::after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  pointer-events: none;
}