/* Login.FormLogin.css */

.LoginBody {
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #40276C,#7868e6);
    padding-top: 5%;
}

.login-container {
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    margin-left: 25%;
}

.login-container:hover {
    transform: scale(1.05);
}

.formLogin {
    display: flex;
    flex-direction: column;
}

.label-login {
    margin-bottom: 2%;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.inputLogin {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.inputLogin:focus {
    border-color: #693c72;
    /* Color inspirado en el de las uvas */
}

.inputLogin[type='submit'] {
    cursor: pointer;
    background-color: #7868e6; /* Morado más claro */
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.inputLogin[type='submit']:hover {
    background-color: #542b5e;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.login-link {
    color: rgb(201, 39, 39);
    /* Color inspirado en el de las uvas */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.login-link a:hover {
    color: #542b5e;
    /* Cambio de color en hover */
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 190px;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
  }