/* Login.FormLogin.css */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Esto asegura que el contenedor esté centrado verticalmente en la ventana. */
    margin: 0;
}

.login-container {
    
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a9c4a9; /* Color inspirado en el de las uvas */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.login-container:hover {
    transform: scale(1.05);
}

.formLogin {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

.inputLogin {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.inputLogin:focus {
    border-color: #693c72; /* Color inspirado en el de las uvas */
}


.inputLogin[type='submit'] {
    cursor: pointer;
    background-color: #693c72; /* Color inspirado en el de las uvas */
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.inputLogin[type='submit']:hover {
    background-color: #542b5e; /* Cambio de color en hover */
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #4f4f4f;
    transition: color 0.3s ease-in-out;
}

.signup-link a {
    color: #693c72; /* Color inspirado en el de las uvas */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.signup-link a:hover {
    color: #542b5e; /* Cambio de color en hover */
}
